
#leftDiv {
    background-color: white;
    color: black;
    
    float: left;
    height: 200px;
                width: 300px;
                margin: 0px auto;
                padding: 30px;
                margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
}
#rightDiv {
    background-color: white;
    color: black;
    height: 700px;
                width: 900px;
                margin: 0px auto;
                padding: 5px;
    float: right;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
    
    overflow: auto;

      
    
}